<div class="modal">
        <header class="bar bar-header ">
			  <button class="button close-button " ng-click="closeModal();">CANCEL</button>
			  <h1 class="title">UPDATE WALL</h1>	
              <button class="button post-button" ng-click="closeModal();">POST</button>
        </header>
        
	<ion-content class="home_container wallModal">
		<div class="add_post clearfix">
			<div class="img_box">
				<img src="img/girl_wall.png"/>
			</div>
			<div class="details_box">
				  <label class="item item-input">
				    <input type="text" placeholder="Whats on your mind ?">
				  </label>
				<div class="seprator"></div>
				
			</div>
		</div>
	</ion-content>
</div>
