 <ion-side-menu side="right">
      <ion-header-bar align-title="left" class="bar-dark">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Reset</button>
  </div>
  <h1 class="title">Filter</h1>
  <div class="buttons">
    <button class="button">Apply</button>
  </div>
</ion-header-bar>
 <ion-content class="has-header">
        <ul class="list">
          <a ui-sref="menu.home" nav-clear class="item" ng-click="toggleLeft()">Home</a>
          <a ui-sref="menu.tab-1" nav-clear class="item" ng-click="toggleLeft()">Chat</a>
          <a ui-sref="menu.drink" nav-clear class="item" ng-click="toggleLeft()">Drink</a>
        </ul>

      
        
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>