<ion-view title="HOME" hide-nav-bar="true">
  <ion-content class="home_container">
    <div class="buddha_icon_container">
        <img src="img/buddha.png"/>
    </div>
  <div class="home_button_container HelveticaHeading">
    <div class="row">
      <div class="col">
          <a class="button button-icon" ng-click="toggleLeftSideMenu()" href="#/tab/localHomeChef"><span class="icon icon-chef"></span><span class="title">Local <br> Home Chef</span></a>
      </div>
      <div class="col"></div>
      <div class="col">
          <a class="button button-icon " href="#/tab/travelBook"><span class="icon icon-book"></span><span class="title">My Travel <br> Book</span></a>
      </div>
    </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
        <a class="button button-icon icon" href="#/tab/theWall"><span class="icon icon-wall"></span><span class="title">The Wall</span></a>
    </div>
    <div class="col"></div>
    </div>
  <div class="row">
    <div class="col">
        <a class="button button-icon icon" href="#/tab/peopleNearMe"><span class="icon icon-pin-people"></span><span class="title">People <br> Near&nbsp;Me</span></a>
    </div>
    <div class="col"></div>
    <div class="col">
        <a class="button button-icon icon" ng-click="toggleLeftSideMenu()" href="#/tab/coTravellers"><span class="icon icon-cotraveler"></span><span class="title">Co <br>Travellers</span></a>
    </div>
  </div>
 </div>
 </ion-content>
</ion-view>