<ion-view hide-nav-bar="true" class="authentication">
   <ion-content class="padding login invite_container HelveticaBody">
    <div class="buddha_icon_container">
			<img src="img/buddha.png"/>
		</div>
	      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block myTabStyle HelveticaHeading" ng-click="login()">LOGIN</button>
      <label class="bold pull-right HelveticaHeading">FORGOT PASSWORD</label>
  </ion-content> 
</ion-view>
