<ion-view hide-nav-bar="true" class="signup view-container">
    <ion-content class="signup_container HelveticaBody">
    <div class="signup_header padding">
      <span class="back_button" ng-click="$ionicGoBack()"></span><span class="heading HelveticaHeading">SIGNUP</span>
      <div class="list list-solid padding">
      	<div class="padding">
        <button type="submit" class="button button-block HelveticaHeading ion-social-facebook button-facebook">
          FACEBOOK
        </button>
      </div>
      <div class="or">
        <span></span><span>OR</span><span></span>
      </div>
        <label class="item">
          Email ID
          <input type="text" name="first_name">
          Password
          <input type="text" name="first_name">
          Mobile Number
          <input type="text" name="first_name">
          Complete Name
          <input type="text" name="first_name">
          Nationality
          <input type="text" name="first_name">
          Curent City
          <input type="text" name="first_name">
          Spoken Language
          <input type="text" name="first_name">
        </label>
        </div>
      <div class="padding">
        <button type="submit" class="button button-block button-signup" ng-click="login();">
          <span class="sign-up HelveticaHeading">SIGNUP</span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
      </div>
    </ion-content>
   
</ion-view>

